#notebook-element {
    height: 100%;
    width: 100%;
}

#input-element {
    height: 100%;
    width: 100%;
}

@media all and (max-width: 400px) {
    #notebook-element {
        height: 100%;
        width: 100%;
    }

    #input-element {
        height: 100%;
        width: 100%;
    }

    /* #log-out-button {
        height: 100px;
        width: 100px;
    } */
}